<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		{% if title %}
			<title>Йокогама: {{ title }}</title>
		{% else %}
			<title>Йокогама</title>
		{% endif %}
		<link href="{{ url_for('static', filename='styles/2.1.css'}}" rel="stylesheet"
			  type="text/css">
	</head>
	<body>
		<header>
			<h1>Суши-бар <em>&laquo;Йокогама&raquo;</em></h1>
			<p class="picture"><img src="../styles/images/sushi.jpg" title="Суши"></p>
		</header>
		<main>
			<p>У нас вы найдете:
			<ul>
				<li>сашими,</li>
				<li>суши,</li>
				<li>роллы,</li>
				<li>соусы,</li>
				<li><strong>горячие блюда</strong>.</li>
				<li>такжe&nbsp;&mdash; безалкогольные напитки
				<img src='../styles/images/drink.jpg'>:
					<ul>
						<li>чай,</li>
						<li>кофе,</li>
						<li>мате.</li>
					</ul>
				</li>
			</ul>
			<p>Участвуйте в нашей рекламной акции!</p>
			<ol>
				<li>Пoсетите наш суши-бар между 16:00 и 19:00.</li>
			</ol>
			<div class='advertising'>Время действительно только для будних дней.</div>
			<div class='advertising'>В выходные&nbsp;&mdash; с 14:00 до 20:00.</div>
			<ol start='2'>
				<li>Купите три суши или ролла.</li>
				<li>Получите четвертый <span class ='bigger'>в подарок</span>!</li>
			</ol>
		</main>
		<footer>
			<p class="greeting">Ждем вас!</p>
			<address class="address">Наш адрес: ул. Зеленая, 17</address>
			<p class='end'>&copy; читатели книги &laquo;HTML и CSS&raquo;.<br>Все парва защищены.</p>
		</footer>
	</body>
</html>