html, body {
    font-family: 'Arial';
    padding: 0;
    margin: -0;
    height: 100%;
    width: 100%;
}

a {
    color: #3e9dfc;
    text-decoration: none;
}
a: hover{
    color: #CC0000;
    text-decoration: underline;
}

.clear {clear: both;}

ul.mainmunu{
    list-style: none;
    background: #ca741f;
    height: 60px;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 20px;
    overflow: hidden;
}
ul.mainmunu li {
    float: left;
    margin: 18px 40px 0 50px;
}
ul.mainmunu li.last {float: right}

ul.mainmunu li a {
    color: #0d66d0;
    text-decoration: none;
}
ul.mainmunu li a:hover {
    color: #FDA73D;
}

div.content {
    margin: 10px;
}

.form-contact label {
    display: inline-block;
    min-width: 80px;
}
.form-contact p {margin: 10px 0 10px 0;}
.form-contact input[type=submit], textarea {
    font-size: 16px;
}